{% extends "base.html" %}

{% block title %}
Log in
{% endblock %}

{% block content %}
<style>
    .input-field {
        position: relative;
        width: 300px;
        margin-bottom: 20px;
    }
    .input-field input {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }
    .control-group {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>
<form action="/main_unlogin" method="post">
    <div class="input-field">
        <input type="text" id="id" name="id" placeholder="ID" required>
    </div>
    <div class="input-field">
        <input type="password" id="password" name="password" placeholder="PWD" required>
    </div>
    <div class="control-group">
        <a href="/register">Register</a>
        <input type="submit" value="Login" style="width: 300px;">
    </div>
</form>
{% endblock %}