{% extends "base.html" %}

{% block title %}Login Page{% endblock %}

{% block content %}

{%with messages = get_flashed_messages()%}
    {%if messages %}
        <script type="text/javascript">
            alert("{{messages[-1]}}");
        </script>
    {%endif%}
{%endwith%}

<link href="{{ url_for('static', filename='css/main_unlogin.css') }}" rel="stylesheet">

<div class="d-flex justify-content-center">
    <form action="/" method="post" class="text-center login-form">
        <h3 class="mb-4">Log in</h3> 

        <div class="form-group">
            <input type="text" id="id" name="user_id" placeholder="ID" required class="form-control">
        </div>

        <div class="form-group">
            <input type="password" id="password" name="password" placeholder="PWD" required class="form-control">
        </div>

        <a href="/register" class="d-block mb-3">Register</a>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>

{% endblock %}