.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* 여백 설정 */
    overflow-y: auto; /* 세로 스크롤 가능하도록 */
}

.rounded-image {
    width: 100px; /* 이미지의 너비 설정 */
    height: 100px; 
    object-fit: cover; /* 이미지가 찌그러지지 않도록 설정 */
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* 이미지 간 여백 설정 */
}

.belt-images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
}

.image-box {
    width: calc(16.66% - 10px); /*For 6 images*/
    margin: 5px;
    overflow: hidden;
    border-radius: 5px;
    width: 250px; 
    height: 250px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}