hr.panel-line{
    width:100%;
    border: dotted 1px;
    color: gray;
}

hr.dashboard-line{
    width:100%;
    border: solid .3rem;
    color: #D5FAE5;   
}

span.dashboard-title{
    color: #000;
    font-family: "Pretendard-Regular";
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

span.dashboard-text{
    color: #000;
    font-family: "Pretendard-Regular";
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.hg-main-container{
    width:100%;
    height:100%;
    display:flex;
}

.hg-content-container{
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 100px;
    border-radius: 100px;
    background-color: #F5F9F8;
}

.hg-title-container{
    height: auto;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
}

.hg-title-container > h1{
    margin-left: 6rem;
    color: #90ACA5;
    font-family: "Pretendard-Regular";
    font-size: 5rem;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    align-items: center;
    display: flex;
}

.hg-title-image{
    align-items: center;
    display: flex;    
    margin-left: 1rem;
    margin-right: 1rem;    
}

.hg-title-image img{
    width: 5rem;
    height: auto;
}

.hg-title-subtext-container{
    display: flex; 
    align-items: center;
    text-align: center;
}
.hg-title-subtext{
    margin-left: 6rem;
    margin-top : 1.5rem;
    color: #B8B8B8;
    font-family: "Pretendard-Regular";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;    
    /* align-items: center;
    display: flex;   */
}

.hg-search-container{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    /* background-color: aquamarine; */
    text-align: center;
    align-items: center;
    width:100%;
    height: 100%;
}

.hg-search-container form{
    display:flex;
    text-align: center;
    align-items: center;
    width: 100%;
}

.hg-search-container input[type="text"]{
    margin-left: 6rem;
    width: 100%;
    height: 4rem;
    border-radius: 2rem;
    box-shadow: 0rem .25rem .25rem 0px rgba(0, 0, 0, 0.10);
    background: #FFF;
    border: 0;
    padding-left: 2rem;

    color: #D8D8D8;
    font-family: "Pretendard-Regular";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

}

.hg-search-container input[type="submit"]{
    width: 10rem;
    height: 4rem;
    margin-left: 4rem;
    border-radius: 3rem;
    background: #38BC73;
    border: 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);    

    color: #FFF;
    font-family: "Pretendard-Regular";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.hg-date-container{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hg-month{
    margin-right: 6rem;

    width: 10rem;
    height: 10rem;
    border-radius: 8rem;
    border: .4rem solid #25D776;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    color: #25D776;
    font-family: "Pretendard-Regular";
    font-size: 4rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;

    display:flex;
    justify-content: center;
    align-items: center;
}

.hg-week{
    margin-right: 3rem;

    width: 6rem;
    height: 10rem;

    border-radius: 6rem;
    background: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.hg-day-string {
    margin-top: 1.2rem;

    color: var(--unselected, #11773F);
    font-family: "Pretendard-Regular";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.hg-day-num {
    margin-bottom: 1.2rem;

    color: var(--unselected_letters, #7E7E7E);
    font-family: "Pretendard-Regular";
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;    
}

.hg-today-week{
    margin-right: 3rem;

    width: 6rem;
    height: 10rem;

    border-radius: 6rem;
    background: #25D776;;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.hg-today-day-string {
    margin-top: 1.2rem;

    color: var(--unselected, white);
    font-family: "Pretendard-Regular";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.hg-today-day-num {
    margin-bottom: 1.2rem;

    color: var(--unselected_letters, white);
    font-family: "Pretendard-Regular";
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;    
}

.hg-board-selector-container{
    margin-top: 6rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hg-board-selector-panel{
    width: 12rem;
    height: 4.5rem;
    
    border-radius: 100px 0px 0px 100px;
    background: #54AF67;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;

    display: flex;
    justify-content: center;
    align-items: center;       
}

.hg-board-selector-panel span{
    color: #FFF;
    font-family: "Pretendard-Regular";
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 900;
    line-height: 201.523%; /* 64.487px */
 
}


.hg-board-selector-history{
    width: 12rem;
    height: 4.5rem;

    border-radius: 0px 100px 100px 0px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);    

    display: flex;
    justify-content: center;
    align-items: center;    
}

.hg-board-selector-history span{
    color: #BCBCBC;
    font-family: "Pretendard-Regular";
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 900;
    line-height: 201.523%; /* 64.487px */
 
}

.hg-panel-container{
    margin-top : 4rem;

    width: 100%;
    height: 100%;
    border-radius: 8rem;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);

    display: flex;
    flex-direction: column;

}

.hg-panel{
    margin-top: 2.5rem;
    width: 100%;
    height: 70%;
    /* background-color: blue; */
    padding:1.5rem;

    display:flex;
    justify-content: space-between;

}

.hg-panel-percent{
    padding: 1% 3%;

    width: 48%; 
    height: 100%;
    /* background-color: yellow;     */

    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.hg-panel-percent-belt{
    width: 100%;
    height: 30%;
    /* background-color: black; */
    
    display: flex;
    /* justify-content: center; */
    align-items: center;

}

.hg-panel-percent-belt-logo{
    width: 5rem;
    height: 5rem;

    margin-right: 2rem;
}

.hg-panel-percent-belt-polygon{
    width: 3rem;
    height: 3rem;
}

.hg-panel-percent-text{
    margin-right: 6rem;

    color: #52734B;
    font-family: "Pretendard-Regular";
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.hg-panel-percent-num{
    margin-right: 4rem;

    color: #000;
    font-family: "Pretendard-Regular";
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;    
}

.hg-panel-percent-line{
    width:100%;
    height: 3px;

    stroke-width: 10px;
    stroke: #ECECEC;
}


.hg-panel-graph{
    width: 48%; 
    height: 100%;
    /* background-color: yellow;     */
}

.hg-dashboard-container{
    width:30%;
    height: 100vh;
    margin-left: 3rem;
    margin-right: 1.5rem;
    background-color: #BFE8DE;;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    padding: 2% 4%;
}



.hg-dashboard-container h1{
    margin-top: 4rem;

    color: #FFF;
    font-family: "Pretendard-Regular";
    font-size: 5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.hg-dashboard-belt {
    margin-top: 5rem;
    /* background-color: white; */
    width:100%;
    height: auto;
    /* border-radius: 50% */
    display: flex;
    justify-content: space-between;
}

.hg-dashboard-img-holder{
    width: 9rem;
    height: 9rem;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hg-dashboard-img-holder img{
    width:8rem;
    height:7rem;
}

.hg-dashboard-text-container {
    width:55%;
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hg-dashboard-chart-container {
    margin-top: 4rem;
    width: 100%;
    height: 10rem;
    border-radius: 8rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

