.detail-container {
    display: flex;
    justify-content: space-between;
}

.belt-detail {
    width: 45%;
}

.belt-cam {
    width: 45%;
    height: 50%;
}

.detail-info {
    margin-top: 20px;
    list-style-type: none;
}

.detail-info li {
    margin-bottom: 10px;
}

.belt-control-buttons {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.belt-control-buttons button {
    margin: 0 10px;
}

.belt-log {
    text-align: center;
    margin-top: 20px;
}

.image-item {
    flex: 1;
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}