<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/history.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/remote.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/remote_detail.css') }}" rel="stylesheet">
    <!--<link href="{{ url_for('static', filename='css/sidebars.css') }}" rel="stylesheet">-->

    <title>{% block title %}Default Title{% endblock %}</title>

    <style>
        body {
          background-color: white; /* 전체 페이지의 배경색을 흰색으로 설정 */
        }
    </style>   
     
</head>

<body>
  <div class = "hg-wrapper-container">
    <div class = "left-div">
      <div class="flex-shrink-0 p-3">
        <a href="/" class="title-container">
          <img src="static\main_icons.svg" alt="Main Icons"/>
          <span class="title-text">X-Farm</span>
        </a>
        <div class="hg-sidebar-profile-container">
          <img src= "static\profile.png" alt="Profile Image"/>
          <span>짱규식님의 농장</span>
        </div>
        <div class="hg-sidebar-menu">
        <ul class="list-unstyled ps-0">
          <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
              <div class= "hg-sidebar-button">
                <img src="static\css\icons\home.svg" alt="home icons"/>
                <span>HOME</span>
              </div>
            </button>
            <div class="collapse show" id="home-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="#">Overview</a></li>
                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Updates</a></li>
                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Reports</a></li>
              </ul>
            </div>
          </li>
          <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#remote-collapse" aria-expanded="false">
              <div class= "hg-sidebar-button">
                <img src="static\css\icons\home.svg" alt="home icons"/>
                <span>Remote</span>
              </div>
            </button>
            <div class="collapse" id="remote-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Overview</a></li>
                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Updates</a></li>
                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Reports</a></li>
              </ul>
            </div>
          </li>
          <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#forsale-collapse" aria-expanded="false">
              <div class= "hg-sidebar-button">
                <img src="static\css\icons\home.svg" alt="home icons"/>
                <span>For Sale</span>
              </div>
            </button>
            <div class="collapse" id="forsale-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Overview</a></li>
                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Updates</a></li>
                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Reports</a></li>
              </ul>
            </div>
          </li>
          <li class="border-top my-3"></li>
          <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#ai-recommend-collapse" aria-expanded="false">            
            <div class= "hg-sidebar-button">
              <img src="static\css\icons\home.svg" alt="home icons"/>
              <span>AI Recommend</span>
            </div>
          </button>
          <div class="collapse" id="ai-recommend-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Overview</a></li>
              <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Updates</a></li>
              <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Reports</a></li>
            </ul>
          </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
    <div class = "right-div"> 
            {% block content %}{% endblock %}
        </div>
    </div>
    <script src="https://getbootstrap.com/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='javascript/sidebars.js') }}"></script>
</body>