{% extends "base.html" %}

{% block content %}
<h2>Previous Activity</h2>

{% for database, collection in belts_thumbnail.items() %}
    {% for col, doc in collection.items() %}
        <div class="belt-group">
            <div class="belt-header">
                Running Logs({{ database }}_{{ col }})
            </div>
        <div class="belt-images">
            <div class="image-box">
                <img src="{{ doc.img_path }}" alt="Belt Image">
            </div>
        {% endfor %}
        </div>
    </div>
{% endfor %}
{% endblock %}