{% extends "base.html" %}

{% block title %}덕명마을방범대{% endblock %}

{% block content %}
<link href="{{ url_for('static', filename='css/main_login.css') }}" rel="stylesheet">    
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="hg-main-container">

    <div class="hg-content-container">

        <div class="hg-title-container">
            <h1>Hello, {{ username }}님!</h1>
            <div class="hg-title-image">
                <img src="{{ url_for('static', filename='css/icons/chart.svg') }}" alt="chart">
                <img src="{{ url_for('static', filename='css/icons/bell.svg') }}" alt="bell">
            </div>
        </div>

        <div class="hg-title-subtext-container">
            <span class="hg-title-subtext">{{ username }}님 안녕하세요 , 오늘은 {{week_data.year}}년 {{week_data.month}}월 {{week_data.day}}일 {{week_data.weekday}}입니다.</span>
        </div>

        <div class="hg-search-container">
            <form action="처리 할 페이지주소" method="post">
                <input type="text" name="search" placeholder="무엇이 궁금하신가요 ?">
                <input type="submit" value="SEARCH">
            </form>
        </div> 

        <div class="hg-date-container">
            <div class="hg-month">
                {{week_data.month}}
            </div>

            {% for key, value in week_data.week.items()%}
                {% if value == week_data.day%}
                    <div class="hg-today-week">
                        <span class="hg-today-day-string">{{key}}</span>
                        <span class="hg-today-day-num">{{value}}</span>
                    </div>                    
                {% else %}
                    <div class="hg-week">
                        <span class="hg-day-string">{{key}}</span>
                        <span class="hg-day-num">{{value}}</span>
                    </div>
                {% endif %}
            {% endfor %}                                                 
        </div>

        <div class="hg-board-selector-container">
            <div class="hg-board-selector-panel">
                <span>My Panel</spon>
            </div>
            <div class="hg-board-selector-history">
                <span>My History</spon>
            </div>

        </div>
        
        <div class="hg-panel-container">
            <div class="hg-panel">
                <div class="hg-panel-percent">
                    <div class="hg-panel-percent-belt">
                        <img src="{{ url_for('static', filename='css/icons/output.svg') }}" class="hg-panel-percent-belt-logo" alt="output">
                        <span class="hg-panel-percent-text">생산량</span>
                        <span class="hg-panel-percent-num">52 %</span>
                        <img src="{{ url_for('static', filename='css/icons/red_polygon.svg') }}" class="hg-panel-percent-belt-polygon" alt="red polygon">
                    </div>
                    <hr class="panel-line">
                    <div class="hg-panel-percent-belt">
                        <img src="{{ url_for('static', filename='css/icons/employment-cost.svg') }}" class="hg-panel-percent-belt-logo" alt="employment-cost">
                        <span class="hg-panel-percent-text">고용노동비</span>
                        <span class="hg-panel-percent-num">30 %</span>
                        <img src="{{ url_for('static', filename='css/icons/red_polygon.svg') }}" class="hg-panel-percent-belt-polygon" alt="red polygon">                        
                    </div>
                    <hr class="panel-line">
                    <div class="hg-panel-percent-belt">
                        <img src="{{ url_for('static', filename='css/icons/environmental-improvement.svg') }}" class="hg-panel-percent-belt-logo" alt="environmental-improvement">
                        <span class="hg-panel-percent-text">환경개선</span>
                        <span class="hg-panel-percent-num">45 %</span>
                        <img src="{{ url_for('static', filename='css/icons/red_polygon.svg') }}" class="hg-panel-percent-belt-polygon" alt="red polygon">                        
                    </div>                 
                    <hr class="panel-line">                       
                </div>

                <div class="hg-panel-graph">                   
                    <canvas id="PanelChart"></canvas>
                    <script>
                        const labels = {{ week_data.label|safe}};
                        const data = {
                          labels: labels,
                          datasets: [{
                            label: '지난주',
                            backgroundColor: 'rgb(255, 99, 132)',
                            borderColor: 'rgb(255, 99, 132)',
                            data: {{ week_data.var1|safe}},
                          },
                          {
                            label: '이번주',
                            backgroundColor: 'rgb(0, 255, 0)',
                            borderColor: 'rgb(0, 255, 0)',
                            data: {{ week_data.var2|safe}},
                          }]
                        };
                        
                        const config = {
                          type: 'line',
                          data,
                          options: {}
                        };
                        
                        </script>
                        <script>
                          var ctx1 = document.getElementById('PanelChart').getContext('2d');
                          const PanelChart = new Chart(
                            ctx1,
                            config
                          );
                        </script>
                </div>
            </div>
        </div>


    </div>
    <div class="hg-dashboard-container">
        <div class="hg-dashborad-content-container">

            <h1>NOW</h1>

            <hr class="dashboard-line">
            
            <div class="hg-dashboard-belt">

                <div class="hg-dashboard-img-holder">
                    <img src="{{ url_for('static', filename='css/icons/temperature.svg') }}" alt="temperature">
                </div>
                
                <div class="hg-dashboard-text-container">
                    <span class="dashboard-title">+ 24 °C</span>
                    <span class="dashboard-text">Temperature</span>
                </div>
            </div>
            <div class="hg-dashboard-chart-container">
                <canvas id="temperatureChart"></canvas>
                <script>
                    const labels = [9, 12, 18, 21];
                    const data = {
                      labels: labels,
                      datasets: {
                        backgroundColor: 'rgb(255, 99, 132)',
                        data: [1,2,3,4],
                      }
                    };
                    
                    const config = {
                      type: 'line',
                      data,
                      options: {}
                    };
                    
                    </script>
                    <script>
                      var ctx2 = document.getElementById('temperatureChart').getContext('2d');
                      const myChart = new Chart(
                        document.getElementById('temperatureChart'),
                        config
                      );
                    </script>
            </div>

        </div>
    </div>
</div>


{% endblock %}

