{% extends "base.html" %}

{% block content %}
<h2>Registed Convayor blet</h2>

<div class="belt-data-container">
    {% for belt in belts %}
        <div class="belt-item">
            <div class="belt-image">
                <a href="{{ url_for('remote.belt_detail', belt_name=belt.belt_name) }}">
                    <img src="{{ belt.image_path }}" alt="{{ belt.belt_name }}" />
                </a>
                <div class="detection-circle {% if belt.status == 'true' %}detection-true{% endif %}"></div>
            </div>
                <p>Name: {{ belt.belt_name }}</p>
                <p>Kind: {{ belt.kind }}</p>
        </div>
    {% endfor %}
</div>
{% endblock %}




