{% extends 'base.html' %}

{% block content %}
    <h2>Registered Conveyor Belt</h2>
    
    {% for belt in belts %}
    <div class="belt-info">
        <div class="belt-image">
            <!-- 이미지 추가 -->
            <img src="{{ belt.image_path }}" alt="Belt Image">
            <!-- 작동 상태 불빛 -->
            <div class="status-light {{ 'status-green' if belt.status == 'start' else 'status-red' }}"></div>
        </div>
        <div>
            <p>ID: {{ belt._id }}</p>
            <p>Name: {{ belt.name }}</p>
            <p>Kind: {{ belt.kind }}</p>
        </div>
    </div>
    {% endfor %}
{% endblock %}